.navigation {
    height: 50px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: space-around;
}
.items input[type='text'],
.items select {
    width:300px;

}

th{
    padding-right:20px;
}

:host{
  background-color: red;
   .main.second::ng-deep{
      .itemsDetails {
        p{
            background: blue;
      }
    }
  }
}

::ng-deep add-item {
  .itemDetails p {
    background-color: red;
  }
}

/*.second{
  .itemsDetails {
    p{
        background: blue;
    }

  }
}*/







